@use "@material/card/index" as card;
@use "@material/typography/mdc-typography";
@use "variables" as *;

@include card.core-styles;

html {
  font-size: 16px;
  --mdc-theme-surface: #{$md-sys-color-surface};
  --mdc-shape-medium: 12px;
  --mdc-ripple-color: #{$md-sys-color-on-surface};
  --mdc-ripple-hover-opacity: 0.08;
  --mdc-typography-subtitle1-font-weight: 500;
  --mdc-typography-subtitle1-line-height: 24px;
}

body {
  max-width: 887px;
  margin: auto;
  padding: 4px 12px 12px;
  background-color: var(--mdc-theme-surface);
  color: var(--mdc-ripple-color);
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mdc-typography--headline2,
.mdc-typography--headline3 {
  text-align: center;
}

.mdc-typography--headline2 {
  margin: 45.8px 4px;
}

.mdc-typography--headline3 {
  margin: 44px 4px;
}

.mdc-typography--subtitle1,
.mdc-typography--body2 {
  margin: 0;
}

.mdc-card {
  @include card.outline($md-sys-color-outline);
  padding: 16px;
  margin: 4px;
  width: 100%;
}

.mdc-card__primary-action:first-child,
.mdc-card__primary-action:last-child {
  border-radius: 12px;
}

.img-wrapper {
  position: relative;
  margin: calc((50% - 32px) / 3) auto calc((50% + 16px) / 3);
  padding-top: calc((200% + 64px) / 3);
  width: calc((200% + 64px) / 3);
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  object-fit: contain;
}

.mdc-typography--body2 {
  color: $md-sys-color-on-surface-variant;
}

.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    --mdc-theme-surface: #{$md-sys-color-surface-dark};
    --mdc-ripple-color: #{$md-sys-color-on-surface-dark};
  }

  .mdc-card {
    @include card.outline($md-sys-color-outline-dark);
  }

  .mdc-typography--body2 {
    color: $md-sys-color-on-surface-variant-dark;
  }

  .light {
    display: none;
  }

  .dark {
    display: block;
  }

  .invert {
    filter: invert(1);
  }
}

@media (min-width: 320px) {
  .mdc-card {
    width: calc(50% - 8px);
  }
}

@media (min-width: 468px) {
  .mdc-card {
    width: calc(100% / 3 - 8px);
  }
}

@media (min-width: 616px) {
  .mdc-card {
    width: calc(25% - 8px);
  }
}

@media (min-width: 764px) {
  .mdc-card {
    width: calc(20% - 8px);
  }
}
