@use "@material/card/mdc-card";
@use "@material/elevation/index" as elevation;
@use "@material/typography/mdc-typography";

@include elevation.core-styles;

html {
  font-size: 16px;
  max-width: 875px;
  margin: auto;
}

body {
  margin: 49.8px 12px 12px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mdc-typography--headline2,
.mdc-typography--headline3 {
  text-align: center;
}

.mdc-typography--headline2 {
  margin: 45.8px 0;
}

.mdc-typography--headline3 {
  margin: 44px 0;
}

.mdc-typography--headline6,
.mdc-typography--body2 {
  margin: 0;
}

.mdc-card {
  padding: 16px;
  margin: 4px;
}

.mdc-card__primary-action:first-child,
.mdc-card__primary-action:last-child {
  border-radius: 4px;
}

img {
  height: 92px;
  width: 92px;
  margin: 7px 8px 23px 8px;
  object-fit: contain;
}

.mdc-typography--headline6,
.mdc-typography--headline2,
.mdc-typography--headline3 {
  opacity: 0.87;
}

.mdc-typography--body2 {
  opacity: 0.6;
}

.dark {
  display: none;
}

.invert-light {
  filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    --mdc-theme-surface: #1e1e1e;
    --mdc-ripple-color: white;
    color: white;
  }

  .light {
    display: none;
  }

  .dark {
    display: block;
  }

  .invert-dark {
    filter: invert(1);
  }

  .invert-light {
    filter: none;
  }
}

@media (hover: hover) {
  .mdc-card {
    box-shadow: elevation.elevation-box-shadow(0), 0 0 0 1px #e0e0e0;
  }

  .mdc-card:hover {
    @include elevation.elevation(4);
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .mdc-card {
    --mdc-theme-surface: #121212;
    box-shadow: elevation.elevation-box-shadow(0), 0 0 0 1px #2e2e2e;
  }

  .mdc-card:hover {
    --mdc-theme-surface: #272727;
  }
}
