@import url("./theme/light.css");
@import url("./theme/dark.css");
@import url("./theme/light-hc.css");
@import url("./theme/dark-hc.css");

@font-face {
  font-family: "Roboto Flex";
  src: url("../fonts/roboto-flex.woff2");
  font-display: swap;
}

body,
p {
  margin: 0;
}
body {
  font-family: "Roboto Flex", sans-serif;
  line-height: var(--mdui-typescale-body-medium-line-height);
  font-weight: var(--mdui-typescale-body-medium-weight);
  font-size: var(--mdui-typescale-body-medium-size);
  letter-spacing: var(--mdui-typescale-body-medium-tracking);
}
.display {
  line-height: var(--mdui-typescale-display-medium-line-height);
  font-weight: var(--mdui-typescale-display-medium-weight);
  font-size: var(--mdui-typescale-display-medium-size);
  letter-spacing: var(--mdui-typescale-display-medium-tracking);
}
.display-small {
  line-height: var(--mdui-typescale-display-small-line-height);
  font-weight: var(--mdui-typescale-display-small-weight);
  font-size: var(--mdui-typescale-display-small-size);
  letter-spacing: var(--mdui-typescale-display-small-tracking);
}
.headline {
  line-height: var(--mdui-typescale-headline-medium-line-height);
  font-weight: var(--mdui-typescale-headline-medium-weight);
  font-size: var(--mdui-typescale-headline-medium-size);
  letter-spacing: var(--mdui-typescale-headline-medium-tracking);
}
.title-large {
  line-height: var(--mdui-typescale-title-large-line-height);
  font-weight: var(--mdui-typescale-title-large-weight);
  font-size: var(--mdui-typescale-title-large-size);
  letter-spacing: var(--mdui-typescale-title-large-tracking);
}
.title {
  line-height: var(--mdui-typescale-title-medium-line-height);
  font-weight: var(--mdui-typescale-title-medium-weight);
  font-size: var(--mdui-typescale-title-medium-size);
  letter-spacing: var(--mdui-typescale-title-medium-tracking);
}
.title-small {
  line-height: var(--mdui-typescale-title-small-line-height);
  font-weight: var(--mdui-typescale-title-small-weight);
  font-size: var(--mdui-typescale-title-small-size);
  letter-spacing: var(--mdui-typescale-title-small-tracking);
}
.body-large {
  line-height: var(--mdui-typescale-body-large-line-height);
  font-weight: var(--mdui-typescale-body-large-weight);
  font-size: var(--mdui-typescale-body-large-size);
  letter-spacing: var(--mdui-typescale-body-large-tracking);
}
a {
  color: rgb(var(--mdui-color-primary));
}
.dark {
  display: none;
}
.print {
  visibility: hidden;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  html {
    font-variation-settings: "GRAD" -25;
  }
  .light {
    display: none;
  }
  .dark {
    display: unset;
  }
  .invert {
    filter: invert(1);
  }
}

@media print {
  .screen {
    display: none;
  }
  .print {
    visibility: unset;
    position: unset;
  }
}
