@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";
@import "./theme/light.css";
@import "./theme/dark.css";
@import "./theme/light-hc.css";
@import "./theme/dark-hc.css";

@function --m3-density(--size) {
  result: var(--size);
}

@font-face {
  font-family: "Roboto Flex";
  src: url("../fonts/roboto-flex.woff2");
  font-display: swap;
}

:root {
  --m3-font: "Roboto Flex", sans-serif;
}
html {
  font-size: 16px;
}
body,
p {
  margin: 0;
}
body {
  background-color: var(--m3c-surface);
  color: var(--m3c-on-surface);
  @apply --m3-body-medium;
}
.display {
  @apply --m3-display-medium;
}
.display-small {
  @apply --m3-display-small;
}
.headline {
  @apply --m3-headline-medium;
}
.title-large {
  @apply --m3-title-large;
}
.title {
  @apply --m3-title-medium;
}
.title-small {
  @apply --m3-title-small;
}
.body-large {
  @apply --m3-body-large;
}
.supporting {
  color: var(--m3c-on-surface-variant);
}
a {
  color: var(--m3c-primary);
}
.dark {
  display: none;
}
.print {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    font-variation-settings: "GRAD" -25;
  }
  .light {
    display: none;
  }
  .dark {
    display: unset;
  }
  .invert {
    filter: invert(1);
  }
}

@media print {
  .screen {
    display: none;
  }
  .print {
    display: unset;
  }
}
