---
import { Button } from "mdui/components/button";
import Layout from "../layouts/Layout.astro";
import Account from "../components/Account.astro";
---

<Layout title="Max Overlack">
  <main>
    {
      (
        // @ts-expect-error
        <Button client:load variant="tonal" href="/lebenslauf" target="_blank" full-width>
          Zu meinem Lebenslauf
        </Button>
      )
    }
    <section>
      <h2 class="headline">Social Media</h2>
      <div class="category">
        <Account
          title="BeReal"
          username="itismajo"
          href="https://bere.al/itismajo"
          invert
        />
        <Account
          title="Facebook"
          username="Max Overlack"
          href="https://www.facebook.com/max.overlack"
        />
        <Account
          title="Instagram"
          username="itismajo"
          href="https://www.instagram.com/itismajo/"
        />
        <Account
          title="Reddit"
          username="ItIsMajo"
          href="https://www.reddit.com/user/ItIsMajo"
        />
        <Account
          title="Snapchat"
          username="itismemajo"
          href="https://www.snapchat.com/add/itismemajo"
          invert
        />
        <Account
          title="TikTok"
          username="itismemajo"
          href="https://www.tiktok.com/@itismemajo"
        />
        <Account
          title="Twitch"
          username="JustMajo"
          href="https://www.twitch.tv/justmajo"
        />
        <Account
          title="Twitter"
          username="ItIsMajo"
          href="https://twitter.com/ItIsMajo"
        />
        <Account
          title="YouTube"
          username="Majo"
          href="https://www.youtube.com/channel/UCkkupffBNsemb8q1st2e4UQ"
        />
      </div>
    </section>
    <section>
      <h2 class="headline">Gaming</h2>
      <div class="category">
        <Account
          title="Battle.net"
          username="Majo#21351"
          href="https://shop.battle.net/"
        />
        <Account
          title="Discord"
          username="iammajo"
          href="https://discord.com/"
        />
        <Account
          title="EA AHQ"
          username="majo270201"
          href="https://answers.ea.com/t5/user/viewprofilepage/user-id/23970612"
          logoTitle="EA"
        />
        <Account
          title="Epic Games"
          username="majo2702"
          href="https://www.epicgames.com/store"
        />
        <Account
          title="LoL"
          username="IAmMajo"
          href="https://www.leagueoflegends.com/"
          logoTitle="League of Legends"
        />
        <Account
          title="Origin"
          username="majo270201"
          href="https://www.origin.com/store"
        />
        <Account
          title="Razer Insider"
          username="Majoeins"
          href="https://insider.razer.com/index.php?members/majoeins.835902/"
          logoTitle="Razer"
        />
        <Account
          title="Riot Games"
          username="Majo#0001"
          href="https://www.riotgames.com/"
        />
        <Account
          title="Rockstar"
          username="IAmMajo"
          href="https://socialclub.rockstargames.com/member/IAmMajo/"
          logoTitle="Rockstar Games"
        />
        <Account
          title="RSI"
          username="Majoeins"
          href="https://robertsspaceindustries.com/citizens/Majoeins"
          logoTitle="Roberts Space Industries"
        />
        <Account
          title="Steam"
          username="Majo"
          href="https://steamcommunity.com/id/ItIsMajo/"
        />
        <Account
          title="Switch"
          username="1509-6543-0605"
          href="https://www.nintendo.com/switch/"
          logoTitle="Nintendo Switch"
        />
        <Account
          title="Ubisoft"
          username="ItIsMajo"
          href="https://ubisoftconnect.com/profile/ItIsMajo"
          invert
        />
        <Account
          title="Xbox"
          username="Majo#2702"
          href="https://account.xbox.com/profile?gamertag=Majo2702"
          invert
        />
        <Account
          title="Xbox"
          username="Majo#2131"
          href="https://account.xbox.com/profile?gamertag=Majo2131"
          invert
        />
      </div>
      <section>
        <h3 class="title-large">Minecraft</h3>
        <div class="category">
          <Account
            title="Cytooxien"
            username="Majoeins"
            href="https://www.cytooxien.de/members/majoeins.10642/"
            inSubcategory
          />
          <Account
            title="GommeHD.net"
            username="IAmMajo"
            href="https://www.gommehd.net/forum/members/iammajo.38236/"
            inSubcategory
          />
          <Account
            title="Hypixel"
            username="Majoeins"
            href="https://hypixel.net/members/majoeins.523569/"
            inSubcategory
          />
          <Account
            title="Java Edition"
            username="IAmMajo"
            href="https://www.minecraft.net/store/minecraft-java-edition"
            logoTitle="Minecraft"
            inSubcategory
          />
          <Account
            title="Java Edition"
            username="ItIsMajo"
            href="https://www.minecraft.net/store/minecraft-java-edition"
            logoTitle="Minecraft"
            inSubcategory
          />
          <Account
            title="NameMC"
            username="IAmMajo"
            href="https://namemc.com/profile/IAmMajo.1"
            inSubcategory
          />
          <Account
            title="NameMC"
            username="ItIsMajo"
            href="https://namemc.com/profile/ItIsMajo.1"
            inSubcategory
          />
          <Account
            title="SpigotMC"
            username="Majoeins"
            href="https://www.spigotmc.org/members/majoeins.304618/"
            inSubcategory
          />
          <Account
            title="Twerion"
            username="IAmMajo"
            href="https://forum.twerion.net/members/iammajo.6290/"
            inSubcategory
          />
        </div>
      </section>
    </section>
    <section>
      <h2 class="headline">Coding</h2>
      <div class="category">
        <Account
          title="Docker"
          username="majoeins"
          href="https://hub.docker.com/u/majoeins"
        />
        <Account
          title="GitHub"
          username="IAmMajo"
          href="https://github.com/IAmMajo"
        />
        <Account
          title="npm"
          username="iammajo"
          href="https://www.npmjs.com/~iammajo"
        />
      </div>
    </section>
    <section>
      <h2 class="headline">Reading</h2>
      <div class="category">
        <Account
          title="AO3"
          username="IAmMajo"
          href="https://archiveofourown.org/users/IAmMajo"
          logoTitle="Archive of Our Own"
        />
        <Account
          title="Medium"
          username="Max Overlack"
          href="https://medium.com/@max.overlack"
          invert
        />
        <Account
          title="Wattpad"
          username="Majoeins"
          href="https://www.wattpad.com/user/Majoeins"
        />
      </div>
    </section>
    <section>
      <h2 class="headline">Shopping</h2>
      <div class="category">
        <Account
          title="Amazon"
          username="Majo"
          href="https://www.amazon.com/gp/profile/amzn1.account.AFL4AFYYQBEBTZBAOSF7QMSGZR3A"
        />
        <Account
          title="Galaxus"
          username="IAmMajo"
          href="https://www.galaxus.de/de/user/iammajo-7107030"
          invert
        />
        <Account
          title="Kleinanzeigen"
          username="Max Overlack"
          href="https://www.kleinanzeigen.de/s-bestandsliste.html?userId=134924886"
        />
      </div>
    </section>
    <section>
      <h2 class="headline">Andere</h2>
      <div class="category">
        <Account
          title="Ancestry"
          username="IAmMajo"
          href="https://www.ancestry.com/account/profile/0880ac49-0006-0000-0000-000000000000"
        />
        <Account
          title="Fiverr"
          username="itismajo"
          href="https://www.fiverr.com/itismajo"
        />
        <Account
          title="Google Maps"
          username="Max Overlack"
          href="https://www.google.com/maps/contrib/114046164266213769026"
        />
        <Account
          title="Gravatar"
          username="Majo"
          href="https://gravatar.com/justmajo"
        />
        <Account
          title="komoot"
          username="Majo"
          href="https://www.komoot.de/user/2175715763442"
        />
        <Account
          title="PayPal"
          username="majoeins"
          href="https://www.paypal.com/paypalme/majoeins"
        />
        <Account
          title="Skype"
          username="max.overlack"
          href="https://join.skype.com/invite/GGvDJJMCZXxk"
        />
        <Account
          title="Skype"
          username="Majo"
          href="https://join.skype.com/invite/JcGvbHWErD3k"
        />
        <Account
          title="Spotify"
          username="Majo"
          href="https://open.spotify.com/user/31fi27fzigkrvu2gmgpmyuul6dh4"
        />
        <Account
          title="Teams"
          username="Max Overlack"
          href="https://teams.live.com/l/invite/FAAnfAndMJJHQEUowM"
          logoTitle="Microsoft Teams"
        />
        <Account
          title="Trello"
          username="iammajo"
          href="https://trello.com/u/iammajo/activity"
        />
      </div>
    </section>
  </main>
</Layout>
<style>
  main {
    max-width: 888px;
    margin: auto;
    padding: 16px 12px 12px;
  }
  h2,
  h3 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .category {
    display: flex;
    flex-wrap: wrap;
  }
</style>
