---
import { Image } from "astro:assets";
import { Button } from "mdui/components/button";
import { Card } from "mdui/components/card";
import Icon from "../components/Icon.astro";
import applicationPhoto from "../images/application-photo.jpg";
import githubLogo from "../images/logos/github.svg?raw";
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import TimelineItem from "../components/TimelineItem.astro";
import CvTabs from "../components/CvTabs.astro";
---

<Layout title="Mein Lebenslauf">
  <main class="gap-16">
    <div class="introduction gap-8">
      {
        (
          // @ts-expect-error
          <Card class="fact-sheet gap-16">
            <div class="application-photo">
              <Image
                src={applicationPhoto}
                width={206}
                densities={[1, 2, 3, 4]}
                format="avif"
                quality="high"
                loading="eager"
                alt="Bewerbungsfoto"
              />
            </div>
            <div class="facts gap-8">
              <h1 class="display-small">Max Overlack</h1>
              <div class="gap-5">
                <div class="fact">
                  <Icon name="home" /> {/* Musterstr. 100, 12345 */} Moers
                </div>
                <div class="fact">
                  <Icon name="event" />
                  <time datetime="2001-02-27">27.02.2001</time>
                </div>
                <div class="fact">
                  <Icon name="cake" /> Berlin
                </div>
                <div class="fact">
                  <Icon name="person" /> ledig
                </div>
              </div>
            </div>
          </Card>
        )
      }
      {
        (
          // @ts-expect-error
          <Card class="profile gap-16">
            <div class="gap-8">
              <h2 class="headline">Profil</h2>
              <div class="gap-16">
                <p>
                  Ich bin ein engagierter und ergebnisorientierter Student der
                  Medieninformatik mit mehr als fünf Jahren praktischer
                  Erfahrung in der Webentwicklung. Neben meinem Studium arbeite
                  ich als Werkstudent bei Krankikom. Dort bin ich hauptsächlich
                  in der PHP-Entwicklung mit Pimcore (basierend auf Symfony)
                  tätig. Auch die Frontend-Entwicklung mit JavaScript gehört
                  zu meinen Aufgaben.
                </p>
                <p>
                  Meine Begeisterung für Technik und IT begann schon in der
                  Schule, wo ich bei „Jugend forscht“ einen ersten Preis auf
                  Regionalebene gewann. Nach dem Abitur entschied ich mich für
                  eine Ausbildung zum Fachinformatiker für Anwendungsentwicklung
                  bei Krankikom.
                </p>
                <p>
                  Mit einem breiten technischen Wissen und einer großen
                  Leidenschaft für Softwarelösungen strebe ich eine Karriere in
                  der Web- und Softwareentwicklung an. Mein Ziel ist es,
                  komplexen Herausforderungen mit kreativen und effizienten
                  Lösungen zu begegnen und mein Wissen ständig zu erweitern.
                </p>
              </div>
            </div>
            <div class="buttons gap-8">
              {/*
                // @ts-expect-error
                <Button
                  client:load
                  variant="text"
                  href="tel:+4912341234567"
                  target="_blank"
                >
                  <Icon slot="icon" name="call" /> +49 1234 1234567
                </Button>
              */}
              {/*
                // @ts-expect-error
                <Button
                  client:load
                  variant="text"
                  href="mailto:example@example.com"
                  target="_blank"
                >
                  <Icon slot="icon" name="mail" /> example@example.com
                </Button>
              */}
              {
                // @ts-expect-error
                <Button
                  client:load
                  variant="text"
                  class="github"
                  href="https://github.com/IAmMajo"
                  target="_blank"
                >
                  <Fragment slot="icon" set:html={githubLogo} />
                  github.com/IAmMajo
                </Button>
              }
            </div>
          </Card>
        )
      }
    </div>
    <Timeline headline="Berufserfahrung">
      <TimelineItem
        title="Backend-Entwickler"
        entity="Krankikom GmbH"
        startDate="2022-07"
      >
        <ul class="gap-4">
          <li>Neben dem Studium als Werkstudent</li>
          <li>
            Hauptsächlich PHP-Entwicklung mit Pimcore (basierend auf Symfony),
            aber auch JS-Entwicklung
          </li>
          <li>
            Kontinuierliche Weiterentwicklung einer Website mit mehr als 400 000
            monatlich aktiven Nutzer*innen
          </li>
          <li>
            Implementierung von Such-, Sortier- und Filtermöglichkeiten für
            mehrere Websites mit Elasticsearch
          </li>
        </ul>
      </TimelineItem>
    </Timeline>
    <Timeline headline="Bildung">
      <TimelineItem
        title="Medieninformatik B.Sc."
        entity="Hochschule Rhein-Waal"
        startDate="2022-09"
      >
        <ul class="gap-4">
          <li>Aktueller Schnitt: 1,8</li>
          <li>
            Durchführung von Projekten in den Bereichen Web-, Spiele- und
            App-Entwicklung
          </li>
          <li>Entwicklung mit Java, JS/TS, C#, Dart und Kotlin</li>
          <li>
            Verwendung von Bootstrap, Angular, React, Astro, Express, Unity,
            Flutter und Jetpack Compose
          </li>
          <li>
            Vorraussichtlicher Abschluss im <time datetime="2026-02">
              Feb. 2026
            </time>
          </li>
        </ul>
      </TimelineItem>
      <TimelineItem
        title="Fachinformatiker Anwendungsentwicklung"
        startDate="2019-08"
        endDate="2022-06"
      >
        <div class="gap-4">
          <h2 class="title-small">Betrieb (Krankikom GmbH)</h2>
          <ul class="gap-4">
            <li>IHK-Note: 2,1</li>
            <li>Lernen von HTML, CSS und JS</li>
            <li>
              Hauptsächlich PHP-Entwicklung mit Pimcore (basierend auf Symfony)
            </li>
            <li>Auch TS-Entwicklung mit Ionic und Angular</li>
            <li>
              Beteiligung an der Entwicklung von Websites für kleine und große
              Unternehmen
            </li>
          </ul>
        </div>
        <div class="gap-4">
          <h2 class="title-small">
            Berufsschulen (Bertolt-Brecht-Berufskolleg und Kaufmännisches
            Berufskolleg Duisburg-Mitte)
          </h2>
          <ul class="gap-4">
            <li>Schnitt: 1,2</li>
            <li>Entwicklung mit C++ und Java</li>
          </ul>
        </div>
      </TimelineItem>
      <TimelineItem
        title="Abitur"
        entity="Gymnasium Rheinkamp Europaschule Moers"
        startDate="2011-09"
        endDate="2019-07"
      >
        <ul class="gap-4">
          <li>Schnitt: 2,4</li>
          <li>
            Abiturfächer: Mathematik (LK), Englisch (LK), Geschichte und
            Informatik
          </li>
          <li>
            Entwicklung mit Java im Informatik-Unterricht und in der Freizeit
          </li>
          <li>Bilinguales Abitur / Unterricht teilweise auf Englisch / C1-Englischkenntnisse</li>
        </ul>
      </TimelineItem>
    </Timeline>
    <CvTabs class="screen" />
    <CvTabs class="print" />
    <CvTabs class="print" value="additional-qualifications" />
  </main>
</Layout>
<style>
  h1,
  h2,
  h4,
  p,
  ul {
    margin: 0;
  }
  .gap-4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .gap-5 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .gap-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .gap-16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  main {
    padding: 16px 0;
    max-width: 840px;
    margin: auto;
  }
  .introduction {
    padding: 0 16px;
  }
  mdui-card {
    padding: 16px;
  }
  .fact-sheet {
    flex-flow: row wrap;
    align-items: center;
  }
  .application-photo {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  img {
    border-radius: var(--mdui-shape-corner-medium);
  }
  .facts {
    flex: 1;
    min-width: 206px;
  }
  .fact {
    display: flex;
    gap: 1ch;
    align-items: center;
  }
  .buttons {
    justify-content: center;
    flex-flow: row wrap;
  }
  mdui-button {
    width: 223px;
  }
  .github :global(svg) {
    width: 24px;
    height: 24px;
  }
  .github :global(path) {
    fill: currentColor;
  }
  ul {
    padding-left: 16px;
  }
  @media (min-width: 533px) {
    .introduction {
      flex-direction: row;
    }
    .fact-sheet {
      flex-flow: column;
    }
    .application-photo {
      flex: unset;
    }
    .profile {
      flex: 1;
      justify-content: space-between;
    }
  }
  @media (min-width: 600px) {
    main {
      padding: 24px;
    }
    .introduction {
      padding: unset;
    }
  }
</style>
