---
import { Button as MaterialButton } from "m3-svelte";
import Icon from "./Icon.astro";

interface Props {
  variant: "text" | "tonal" | "outlined" | "contained";
  href: string;
  icon?: string;
  text?: string;
  printText?: string;
  target?: string;
}

const { href, icon, text, printText, ...props } = Astro.props;

const url = new URL(href, Astro.url);

let displayedPrintText = printText ?? url.hostname + url.pathname;
if (displayedPrintText.endsWith("/")) {
  displayedPrintText = displayedPrintText.slice(0, -1);
}
---

<>
  <!-- @ts-expect-error Expression produces a union type that is too complex to represent -->
  <MaterialButton client:load {href} {...props}>
    {icon && <Icon name={icon} />}
    {
      text ? (
        <>
          <span class="screen">{text}</span>
          <span class="print">{displayedPrintText}</span>
        </>
      ) : (
        displayedPrintText
      )
    }
  </MaterialButton>
</>
