---
import { Tabs } from "mdui/components/tabs";
import Skill from "./Skill.astro";

interface Props {
  value?: "languages" | "additional-qualifications";
  class: string;
}

const { value = "languages", class: className } = Astro.props;
---

{
  (
    // @ts-expect-error
    <Tabs client:only="lit" class={className} value={value} variant="secondary">
      <mdui-tab value="languages">Sprachen</mdui-tab>
      <mdui-tab value="additional-qualifications">
        Zusatzqualifikationen
      </mdui-tab>
      <mdui-tab-panel slot="panel" value="languages">
        <div class="languages">
          <Skill name="PHP" level={3} />
          <Skill name="JS/TS" level={3} />
          <Skill name="Java" level={2} />
          <Skill name="SQL" level={2} />
          <Skill name="C#" />
          <Skill name="Dart" />
          <Skill name="Kotlin" />
          <Skill name="Swift" />
        </div>
      </mdui-tab-panel>
      <mdui-tab-panel slot="panel" class="mdui-table" value="additional-qualifications">
          <table>
            <tr>
              <td>Zertifizierung als Ibexa-Entwickler</td>
              <td>
                <time datetime="2021-06">Juni 2021</time>
              </td>
            </tr>
            <tr>
              <td>Zertifizierung als Pimcore-Junior-Entwickler</td>
              <td>
                <time datetime="2021-02">Feb. 2021</time>
              </td>
            </tr>
            <tr>
              <td>Zertifizierung über C1-Englischkenntnisse</td>
              <td>
                <time datetime="2019-07">Juli 2019</time>
              </td>
            </tr>
            <tr>
              <td>
                Teilnahme am Endausscheid des Schülerwettbewerbs „Ideenflug“ der
                Airbus Group
              </td>
              <td>
                <time datetime="2016-12">Dez. 2016</time>
              </td>
            </tr>
            <tr>
              <td>
                Sonderpreis beim „Jugend forscht“-Landeswettbewerb
                Nordrhein-Westfalen
              </td>
              <td>
                <time datetime="2016-03">März 2016</time>
              </td>
            </tr>
            <tr>
              <td>
                1. Preis beim „Jugend forscht“-Regionalwettbewerb Niederrhein im
                Fachgebiet Technik
              </td>
              <td>
                <time datetime="2016-02">Feb. 2016</time>
              </td>
            </tr>
          </table>
      </mdui-tab-panel>
    </Tabs>
  )
}
<style>
  .gap-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  mdui-tabs::part(container) {
    overflow: unset;
  }
  mdui-tab {
    flex: 1;
  }
  mdui-tab-panel {
    margin: 8px 16px 0;
    width: unset;
  }
  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .mdui-table td {
    padding: 8px 16px;
    vertical-align: middle;
  }
  td:last-child {
    text-align: right;
  }
  @media (min-width: 600px) {
    mdui-tab {
      flex: unset;
    }
    mdui-tab-panel {
      margin: 8px 0 0;
    }
  }
</style>
<script src="mdui/components/tab.js"></script>
<script src="mdui/components/tab-panel.js"></script>
