---
import { Image } from "astro:assets";
import { render, type CollectionEntry } from "astro:content";
import { Card } from "m3-svelte";
import Button from "./Button.astro";
import GithubButton from "./GithubButton.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<article class="project">
  <!-- @ts-expect-error Expression produces a union type that is too complex to represent -->
  <Card variant="elevated">
    <Image
      src={project.data.image}
      layout="constrained"
      width={792}
      height={446}
      position="top"
      format="avif"
      alt=""
    />
    <div class="below-image gap-8">
      <h1 class="title">{project.data.title}</h1>
      <div class="content gap-16">
        <Content />
        <div class="buttons gap-8">
          <GithubButton
            path={project.data.githubRepository}
            urlPath={project.data.githubUrlPath}
            text="Quellcode"
          />
          {
            project.data.additionalButtons?.map((button) => (
              <Button
                variant="text"
                {...button}
                target="_blank"
              />
            ))
          }
        </div>
      </div>
    </div>
  </Card>
</article>
<style>
  h1 {
    margin: 0;
  }
  .gap-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .gap-16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .project > :global(.m3-container) {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  .below-image {
    padding: 16px;
  }
  .buttons {
    flex-flow: row wrap;
  }
</style>
