---
import { Card } from "mdui/components/card";

interface Props {
  title: string;
  entity?: string;
  startDate: string;
  endDate?: string;
}

const { title, entity, startDate, endDate } = Astro.props;

const format = new Intl.DateTimeFormat("de-DE", {
  month: "short",
  year: "numeric",
});
---

<li>
  <article>
    {
      (
        // @ts-expect-error
        <Card class="gap-8">
          <header>
            <div>
              <h1 class="title">{title}</h1>
              {entity && <div class="supporting">{entity}</div>}
            </div>
            <div class="dates supporting">
              {!endDate && "seit"}
              <time datetime={startDate}>
                {format.format(new Date(startDate))}
              </time>
              {endDate && (
                <span>
                  -
                  <time datetime={endDate}>
                    {format.format(new Date(endDate))}
                  </time>
                </span>
              )}
            </div>
          </header>
          <slot />
        </Card>
      )
    }
  </article>
  <div class="arrow"></div>
</li>
<style>
  h1 {
    margin: 0;
  }
  .gap-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  li {
    display: flex;
    align-items: center;
    break-inside: avoid;
  }
  li::before {
    content: "•";
    position: absolute;
    margin-top: 0.25rem;
    font-size: 56px;
    left: 0;
    width: 32px;
    text-align: center;
    color: rgb(var(--mdui-color-secondary));
    z-index: 1;
  }
  li::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 68px;
    background-color: rgb(var(--mdui-color-surface-container-low));
    left: 32px;
  }
  .arrow {
    position: absolute;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-right: 17px solid rgb(var(--mdui-color-surface-container-low));
    left: 16px;
    filter: drop-shadow(0 0.5px 0.1875px rgba(var(--mdui-color-shadow), 19%))
      drop-shadow(0 0 0.125px rgba(var(--mdui-color-shadow), 3.9%));
  }
  article {
    flex: 1;
  }
  mdui-card {
    padding: 16px;
  }
  header {
    display: flex;
    flex-wrap: wrap-reverse;
    column-gap: 16px;
    justify-content: space-between;
  }
  .dates {
    text-align: right;
  }
  .supporting {
    color: rgb(var(--mdui-color-on-surface-variant));
  }
</style>
