@media (prefers-contrast: more) {
  :root {
    --mdui-color-primary-dark: 246, 251, 255;
    --mdui-color-surface-tint-dark: 137, 208, 237;
    --mdui-color-on-primary-dark: 0, 0, 0;
    --mdui-color-primary-container-dark: 141, 213, 241;
    --mdui-color-on-primary-container-dark: 0, 0, 0;
    --mdui-color-secondary-dark: 255, 249, 248;
    --mdui-color-on-secondary-dark: 0, 0, 0;
    --mdui-color-secondary-container-dark: 255, 187, 164;
    --mdui-color-on-secondary-container-dark: 0, 0, 0;
    --mdui-color-tertiary-dark: 253, 249, 255;
    --mdui-color-on-tertiary-dark: 0, 0, 0;
    --mdui-color-tertiary-container-dark: 200, 199, 239;
    --mdui-color-on-tertiary-container-dark: 0, 0, 0;
    --mdui-color-error-dark: 255, 249, 249;
    --mdui-color-on-error-dark: 0, 0, 0;
    --mdui-color-error-container-dark: 255, 186, 177;
    --mdui-color-on-error-container-dark: 0, 0, 0;
    --mdui-color-background-dark: 15, 20, 22;
    --mdui-color-on-background-dark: 222, 227, 230;
    --mdui-color-surface-dark: 15, 20, 22;
    --mdui-color-on-surface-dark: 255, 255, 255;
    --mdui-color-surface-variant-dark: 64, 72, 76;
    --mdui-color-on-surface-variant-dark: 246, 251, 255;
    --mdui-color-outline-dark: 196, 204, 208;
    --mdui-color-outline-variant-dark: 196, 204, 208;
    --mdui-color-shadow-dark: 0, 0, 0;
    --mdui-color-scrim-dark: 0, 0, 0;
    --mdui-color-inverse-surface-dark: 222, 227, 230;
    --mdui-color-inverse-on-surface-dark: 0, 0, 0;
    --mdui-color-inverse-primary-dark: 0, 46, 60;
    --mdui-color-surface-dim-dark: 15, 20, 22;
    --mdui-color-surface-bright-dark: 53, 58, 61;
    --mdui-color-surface-container-lowest-dark: 10, 15, 17;
    --mdui-color-surface-container-low-dark: 23, 28, 31;
    --mdui-color-surface-container-dark: 27, 32, 35;
    --mdui-color-surface-container-high-dark: 37, 43, 45;
    --mdui-color-surface-container-highest-dark: 48, 54, 56;
  }
}
