@media (prefers-contrast: more) {
  :root {
    --m3c-primary: rgb(0 49 63);
    --m3c-surface-tint: rgb(10 103 128);
    --m3c-on-primary: rgb(255 255 255);
    --m3c-primary-container: rgb(0 80 101);
    --m3c-on-primary-container: rgb(255 255 255);
    --m3c-secondary: rgb(80 27 9);
    --m3c-on-secondary: rgb(255 255 255);
    --m3c-secondary-container: rgb(117 55 35);
    --m3c-on-secondary-container: rgb(255 255 255);
    --m3c-tertiary: rgb(40 41 72);
    --m3c-on-tertiary: rgb(255 255 255);
    --m3c-tertiary-container: rgb(70 70 103);
    --m3c-on-tertiary-container: rgb(255 255 255);
    --m3c-error: rgb(96 0 4);
    --m3c-on-error: rgb(255 255 255);
    --m3c-error-container: rgb(152 0 10);
    --m3c-on-error-container: rgb(255 255 255);
    --m3c-background: rgb(245 250 253);
    --m3c-on-background: rgb(23 28 31);
    --m3c-surface: rgb(245 250 253);
    --m3c-on-surface: rgb(0 0 0);
    --m3c-surface-variant: rgb(220 228 232);
    --m3c-on-surface-variant: rgb(0 0 0);
    --m3c-outline: rgb(37 45 49);
    --m3c-outline-variant: rgb(66 74 78);
    --m3c-shadow: rgb(0 0 0);
    --m3c-scrim: rgb(0 0 0);
    --m3c-inverse-surface: rgb(44 49 52);
    --m3c-inverse-on-surface: rgb(255 255 255);
    --m3c-inverse-primary: rgb(137 208 237);
    --m3c-primary-fixed: rgb(0 80 101);
    --m3c-on-primary-fixed: rgb(255 255 255);
    --m3c-primary-fixed-dim: rgb(0 56 71);
    --m3c-on-primary-fixed-variant: rgb(255 255 255);
    --m3c-secondary-fixed: rgb(117 55 35);
    --m3c-on-secondary-fixed: rgb(255 255 255);
    --m3c-secondary-fixed-dim: rgb(88 34 15);
    --m3c-on-secondary-fixed-variant: rgb(255 255 255);
    --m3c-tertiary-fixed: rgb(70 70 103);
    --m3c-on-tertiary-fixed: rgb(255 255 255);
    --m3c-tertiary-fixed-dim: rgb(47 48 79);
    --m3c-on-tertiary-fixed-variant: rgb(255 255 255);
    --m3c-surface-dim: rgb(180 185 188);
    --m3c-surface-bright: rgb(245 250 253);
    --m3c-surface-container-lowest: rgb(255 255 255);
    --m3c-surface-container-low: rgb(237 241 244);
    --m3c-surface-container: rgb(222 227 230);
    --m3c-surface-container-high: rgb(208 213 216);
    --m3c-surface-container-highest: rgb(194 199 202);
    --m3c-on-on-primary: rgb(37, 102, 124);
    --m3c-primary-container-subtle: rgb(167, 227, 252);
    --m3c-on-primary-container-subtle: rgb(6, 84, 105);
    --m3c-secondary-container-subtle: rgb(255, 208, 193);
    --m3c-on-secondary-container-subtle: rgb(117, 61, 43);
    --m3c-tertiary-container-subtle: rgb(202, 218, 255);
    --m3c-on-tertiary-container-subtle: rgb(58, 77, 112);
    --m3c-error-container-subtle: rgb(255, 207, 203);
    --m3c-on-error-container-subtle: rgb(143, 37, 38);
  }
}
