:root {
  --mdui-color-primary-light: 10, 103, 128;
  --mdui-color-surface-tint-light: 10, 103, 128;
  --mdui-color-on-primary-light: 255, 255, 255;
  --mdui-color-primary-container-light: 185, 234, 255;
  --mdui-color-on-primary-container-light: 0, 31, 41;
  --mdui-color-secondary-light: 143, 76, 52;
  --mdui-color-on-secondary-light: 255, 255, 255;
  --mdui-color-secondary-container-light: 255, 219, 207;
  --mdui-color-on-secondary-container-light: 57, 12, 0;
  --mdui-color-tertiary-light: 91, 91, 126;
  --mdui-color-on-tertiary-light: 255, 255, 255;
  --mdui-color-tertiary-container-light: 225, 223, 255;
  --mdui-color-on-tertiary-container-light: 24, 24, 55;
  --mdui-color-error-light: 186, 26, 26;
  --mdui-color-on-error-light: 255, 255, 255;
  --mdui-color-error-container-light: 255, 218, 214;
  --mdui-color-on-error-container-light: 65, 0, 2;
  --mdui-color-background-light: 245, 250, 253;
  --mdui-color-on-background-light: 23, 28, 31;
  --mdui-color-surface-light: 245, 250, 253;
  --mdui-color-on-surface-light: 23, 28, 31;
  --mdui-color-surface-variant-light: 220, 228, 232;
  --mdui-color-on-surface-variant-light: 64, 72, 76;
  --mdui-color-outline-light: 112, 120, 124;
  --mdui-color-outline-variant-light: 192, 200, 204;
  --mdui-color-shadow-light: 0, 0, 0;
  --mdui-color-scrim-light: 0, 0, 0;
  --mdui-color-inverse-surface-light: 44, 49, 52;
  --mdui-color-inverse-on-surface-light: 237, 241, 244;
  --mdui-color-inverse-primary-light: 137, 208, 237;
  --mdui-color-surface-dim-light: 214, 219, 222;
  --mdui-color-surface-bright-light: 245, 250, 253;
  --mdui-color-surface-container-lowest-light: 255, 255, 255;
  --mdui-color-surface-container-low-light: 240, 244, 247;
  --mdui-color-surface-container-light: 234, 238, 242;
  --mdui-color-surface-container-high-light: 228, 233, 236;
  --mdui-color-surface-container-highest-light: 222, 227, 230;
}
